/*
* @Author: Administrator
* @Date:   2017-12-20 20:45:46
* @Last Modified by:   Administrator
* @Last Modified time: 2017-12-24 23:59:35
*/
@import url("base.css");
body{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: white;
	background: url('../img/body.jpg') no-repeat center 0px;
}
.head{
	width: 100%;
	height: 166px;

}
.head-top{
	width: 100%;
	height: 30px;
	background: #F5F5F5;
	margin: 0 auto;
	z-index: 10;
}
.head-top1200{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.head-left{
	width: 202px;
	height: 30px;
	float: left;
}
.head-left span{
	display: block;
	float: left;
	padding-right: 10px;
	font-size: 12px;
	color: #808080;
	line-height: 30px;
}
.left-text{
	float: left;
	width: 72px;
	height: 30px;
	position: relative;
}
.left-text a{
	display: block;
	width: 70px;
	height: 30px;
	border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: #E40077;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 112;
}
.head-right{
	float: right;
	width: auto;
	height: 30px;
}
.a1{
	display: block;
	float: left;
	padding: 0 17px;
    color: #808080;
    font-size: 12px;
    cursor: pointer;
    line-height: 30px;

}
.head-right a:hover{
	color: #337ab7;
}
.a2{
	float: left;
    width: 110px;
    height: 30px;
    position: relative;
}
.a2-text{
	display: block;
    width: 108px;
    height: 30px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    text-align: center;
    color: #808080;
    font-size: 12px;
    line-height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 112;
}
.a3{
	display: block;
    float: left;
    padding: 0 17px;
    color: #808080;
    font-size: 12px;
    cursor: pointer;
    line-height: 30px;
}
.a4{
	display: block;
    float: left;
    padding: 0 17px;
    color: #808080;
    font-size: 12px;
    cursor: pointer;
    line-height: 30px;
}   

.a4:hover{
	color: #3eb4fa;
}
.a5{
	display: block;
    float: left;
    padding: 0 17px;
    color: #808080;
    font-size: 12px;
    cursor: pointer;
    line-height: 30px;
}
.a6{
	display: block;
    float: left;
    padding: 0 17px;
    color: #808080;
    font-size: 12px;
    cursor: pointer;
    line-height: 30px;
}
.a7{
	display: block;
    float: left;
    padding: 0 17px;
    color: #808080;
    font-size: 12px;
    cursor: pointer;
    line-height: 30px;
}
.head-middle{
	width: 1200px;
    height: 88px;
    margin: 0 auto;
}

.middle-img img{
	float: left;
    width: 230px;
    height: auto;
    margin: 20px 0 0 0;
    display: block;
}
.drop{
	float: left;
    margin: 40px 0 0 35px;
    position: relative;
    z-index: 100;
}
.city{
	cursor: pointer;
    height: 18px;
    padding: 0 15px 0 0;
    font-size: 16px;
    line-height: 18px;
    color: #333333;

}
.middle-right{
	width: 500px;
	height: 68px;
	float: right;
	position: relative;
	margin-top: 12px;
}
.input{
	background: url('../img/searchBg.png') no-repeat left center/100% auto;
	padding-top: 10px;
	position: static;
	width: 100%;
	height: 36px;
}
.text{
    outline: none;
    box-shadow: inset 0 0 0 rgba(0,0,0,0);
    z-index: 0;
    border: 0;
    color: #666666;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 0px;
    background: none;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0;
    padding: 3px 12px;
}
.tansuo{
	display: block;
    width: 80px;
    height: 36px;
    position: absolute;
    right: 15px;
    top: 10px;
    box-sizing: border-box;
}
.btn{
	outline: none;
    box-shadow: inset 0 0 0 rgba(0,0,0,0);
    width: 80px;
    height: 36px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    background: transparent;
    text-align: center;
    font-size: 16px;
    z-index: 2;
    margin-left: -1px;
    cursor: pointer;
    display: block;
    color: rgba(0, 0, 0, 0);
}
.hot-hidden{
	padding-top: 5px;
	width: 500px;
	height: 22px;
}
    
.hot1{
	display: block;
    padding: 0 20px 0 0;
    color: #e40077;
    cursor: pointer;
    width: 57px;
    height: 17px;
    font-size: 12px;
    line-height: 17px;
     float: left;
}
.hot2{
	
    float: left;
    display: block;
    padding: 0 20px 0 0;
    color: #333333;
    cursor: pointer;
    width: 48px;
    height: 17px;
    font-size: 12px;
    line-height: 17px;
}
.hot3{
	
    float: left;
    display: block;
    padding: 0 20px 0 0;
    color: #e40077;
    cursor: pointer;
    width: 72px;
    height: 17px;
    font-size: 12px;
    line-height: 17px;
}
.hot4{
	float: left;
    display: block;
    padding: 0 20px 0 0;
    color: #333333;
    cursor: pointer;
    width: 24px;
    height: 17px;
    font-size: 12px;
    line-height: 17px;
}
.hot5{
	float: left;
    display: block;
    padding: 0 20px 0 0;
    color: #e40077;
    cursor: pointer;
    width: 36px;
    height: 17px;
    font-size: 12px;
    line-height: 17px;

}
.hot6{
	float: left;
    display: block;
    padding: 0 20px 0 0;
    color: #333333;
    cursor: pointer;
    width: 48px;
    height: 17px;
    font-size: 12px;
    line-height: 17px;
}
.hot-hidden a:hover{
	color:#3eb4fa;
}
.head-nav{
	width: 1200px;
    height: 47px;
    margin: 0 auto;
    border-bottom: 1px solid #3eb4fa;
    position: relative;
}
.fuwu{
	display: block;
	float: left;
    width: 235px;
    height: 47px;
    font-size: 17px;
    text-align: center;
    line-height: 47px;
    color: #ffffff;
    background: #3eb4fa;
}
.nav{
	float: left;
    height: 47px;
    padding-left: 29px;
    width: 594px;
    margin-bottom: 0;
    list-style: none;
}
.nav li a{
	display: block;
    padding: 0 29px;
    font-size: 16px;
    background: none;
    color: #222222;
    line-height: 47px;
}
.nav li .active{
	color: #3eb4fa;
}
.nav li{
	float: left;
}
.nav li a:hover{
	color: #3eb4fa;
}
.bannerbig{
	width: 100%;
	height: 400px;
	margin: 0 auto;
    position: relative;
}
.bannersmall{
	width: 1200px;
    height: 398px;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
    overflow: hidden;
    z-index: 1;
}
.slide{
	width: 234px;
	height: 398px;
	position: relative;
    left: 0px;
    top: 0px;
    background: #ffffff;
    z-index: 10;
    float: left;
}
.list{
	float: left;
	width: 235px;
    height: 398px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}
.list li{
	clear: both;
	width: 233px;
    height: 52px;
    border: 1px solid #ffffff;
}
.list li a{
	display: block;
	float: left;
	width: 200px;
    height: 50px;
    padding-left: 31px;
    color: #333333;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
}
.list li a img{
	display: inline-block;
}
.item{
	width: 705px;
	height: 398px;
	left: 235px;
	right: 260px;
	background: red;
	float: left;
}
.item a img{
	width: 100%;
    height: 398px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
}
.btn-box{
	width: 170px;
	height: 10px;
	/* background: black; */
	position: absolute;
	right: 528px;
	bottom: 10px;
}
.btn-box li{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.6);
	margin-right: 10px;
	z-index: 10;
	cursor: pointer;
}
.btn-box li:last-child{
	margin-right: 0;
}
.function{
	width: 260px;
    height: 398px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #ffffff;
    z-index: 9;
}
.icons{
	width: 258px;
	height: 148px;
    margin: 0 auto;
    padding: 30px 0 0;

}
.icons ul{
	display: block;
	float: left;
}
.icons ul li{
	float: left;
	height: 74px;
	width: 86px;
	text-align: center;
    position: relative;
}
.icons ul li a{
	display: block;
	cursor: pointer;
    color: #333333;
    position: relative;
    width: 86px;
    height: 74px;

}
.icons ul li a img{
	position: absolute;
    left: 50%;
    top: 0px;
    display: block;
    width: 32px;
    margin-left: -16px;
}
.icons ul li a p{
	display: block;
	position: absolute;
    left: 0px;
    top: 32px;
    width: 86px;
    padding: 10px 0 20px;
    font-size: 12px;
    text-align: center;
}
.charge{
	width: 230px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px dotted #c2c2c2;
    height: 190px;
}
.clearfix{
	width: 100%;
	height: 21px;
}
.clearfix a{
	display: block;
    float: left;
    padding: 0px 0px 5px;
    margin: 0 15px;
    font-size: 14px;
    color: #222222;
    border-bottom: 2px solid #ffffff;
}
.clearfix .active{
    color: #3eb4fa;
    border-bottom: 2px solid #3eb4fa;
}
.tagsbox{
	width: 230px;
    padding-top: 13px;
    margin: 0 auto;
    overflow: hidden;
    height: 135px;
}
.tagsbox input{
	width: 208px;
    height: 33px;
    padding: 0 10px;
    font-size: 12px;
    border: 1px solid #dadada;
    color: #dadada;
}
.insselect{
	width: 240px;
    height: auto;
    padding: 10px 0;
    text-align: center;
}
.insselect a{
	cursor: pointer;
    color: #666;
    float: left;
    display: inline-block;
    width: 37px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    margin-right: 8px;
    text-align: center;
    border: 1px solid #dadada;
    border-radius: 3px;
}
.insselect a:first-child {
	border: 1px solid #e30077;
    color: #ffffff;
    background: #e30077;
}
